[submodule "iris"]
	path = THEMES/iris
	url = https://github.com/xyl0n/iris/
[submodule "iris-light"]
	path = THEMES/iris-light
	url = https://github.com/xyl0n/iris-light
[submodule "vivant-gtk"]
	path = THEMES/vivant-gtk
	url = https://github.com/xyl0n/vivant-gtk
[submodule "ICONS/ozon-icon-theme"]
	path = ICONS/ozon-icon-theme
	url = https://github.com/xyl0n/ozon-icon-theme
[submodule "THEMES/iris-lychee"]
	path = THEMES/iris-lychee
	url = https://github.com/xyl0n/iris-lychee
[submodule "ICONS/vivant-icons"]
	path = ICONS/vivant-icons
	url = https://github.com/xyl0n/vivant-icons
[submodule "THEMES/BleuFear"]
	path = THEMES/BleuFear
	url = https://github.com/maxfierke/BleuFear
[submodule "THEMES/Orion"]
	path = THEMES/Orion
	url = https://github.com/shimmerproject/Orion
[submodule "THEMES/Bluebird"]
	path = THEMES/Bluebird
	url = https://github.com/shimmerproject/Bluebird
[submodule "THEMES/Albatross"]
	path = THEMES/Albatross
	url = https://github.com/shimmerproject/Albatross
[submodule "THEMES/Blackbird"]
	path = THEMES/Blackbird
	url = https://github.com/shimmerproject/Blackbird
[submodule "THEMES/Evolve"]
	path = THEMES/Evolve
	url = https://github.com/satya164/Evolve
[submodule "THEMES/Greybird"]
	path = THEMES/Greybird
	url = https://github.com/shimmerproject/Greybird
[submodule "THEMES/Arc-theme"]
	path = THEMES/Arc
	url = https://github.com/horst3180/Arc-theme
[submodule "THEMES/zuki-themes"]
	path = THEMES/zuki-themes
	url = https://github.com/lassekongo83/zuki-themes
[submodule "bunsen-themes"]
	path = THEMES/bunsen-themes
	url = https://github.com/BunsenLabs/bunsen-themes
[submodule "THEMES/deb8-theme"]
	path = THEMES/deb8-theme
	url = https://github.com/BunsenLabs/deb8-theme
[submodule "ICONS/betelgeuse"]
	path = ICONS/betelgeuse
	url = https://gitorious.org/betelgeuse/betelgeuse-sources.git
[submodule "ICONS/moka-icon-theme"]
	path = ICONS/moka-icon-theme
	url = https://github.com/snwh/moka-icon-theme
[submodule "ICONS/numix-icon-theme-utouch"]
	path = ICONS/numix-icon-theme-utouch
	url = https://github.com/numixproject/numix-icon-theme-utouch
[submodule "ICONS/numix-icon-theme-shine"]
	path = ICONS/numix-icon-theme-shine
	url = https://github.com/numixproject/numix-icon-theme-shine
[submodule "ICONS/numix-icon-theme"]
	path = ICONS/numix-icon-theme
	url = https://github.com/numixproject/numix-icon-theme
[submodule "ICONS/numix-icon-theme-circle"]
	path = ICONS/numix-icon-theme-circle
	url = https://github.com/numixproject/numix-icon-theme-circle
[submodule "ICONS/flattr-icons"]
	path = ICONS/flattr-icons
	url = https://github.com/NitruxSA/flattr-icons
[submodule "ICONS/pacifica-icon-theme"]
	path = ICONS/pacifica-icon-theme
	url = https://github.com/fsvh/pacifica-icon-theme
[submodule "THEMES/mint-y-theme"]
	path = THEMES/mint-y-theme
	url = https://github.com/linuxmint/mint-y-theme
[submodule "THEMES/mint-themes-gtk3"]
	path = THEMES/mint-themes-gtk3
	url = https://github.com/linuxmint/mint-themes-gtk3
[submodule "ICONS/mint-y-icons"]
	path = ICONS/mint-y-icons
	url = https://github.com/linuxmint/mint-y-icons
[submodule "ICONS/mint-x-icons"]
	path = ICONS/mint-x-icons
	url = https://github.com/linuxmint/mint-x-icons
[submodule "ICONS/elementary-xfce"]
	path = ICONS/elementary-xfce
	url = https://github.com/shimmerproject/elementary-xfce
[submodule "ICONS/evil-icons"]
	path = ICONS/evil-icons
	url = https://github.com/outpunk/evil-icons
[submodule "THEMES/paper-gtk-theme"]
	path = THEMES/paper-gtk-theme
	url = https://github.com/snwh/paper-gtk-theme
[submodule "FONTS/Hack"]
	path = FONTS/Hack
	url = https://github.com/chrissimpkins/Hack
[submodule "THEMES/Centauri"]
	path = THEMES/Centauri
	url = https://github.com/vval/centauri_gtk_theme
[submodule "ICONS/Super-Flat-Remix"]
	path = ICONS/Super-Flat-Remix
	url = https://github.com/daniruiz/Super-Flat-Remix
[submodule "THEMES/Adapta"]
	path = THEMES/Adapta
	url = https://github.com/tista500/Adapta
